<!DOCTYPE html>
<html lang ="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout :: head}"></head>
<body class="main-body">

<th:block th:replace="~{layout :: template('Welcome')}"></th:block>
<main>
    <div>
        <h1>WINTERHOLD LIBRARY</h1>
    </div>
    <div>
        <p>Knowledge is the best weapon you have, please</p>
        <p>find some fascinating books we have</p>
        <p>This app will help you do that, as long as you</p>
        <p>keep extend your membership!</p>
        <p>(its totally free!)</p>

    </div>
</main>

</body>
</html>