<!DOCTYPE html>
<html lang ="en" xmlns:th="http://www.thymeleaf.org">
<!--th = pemakaian thymeleaf-->
<!--$ untuk menarik data dari atribut
    @ link atau url
    ~ untuk menarik fragment dari html lain
    * simbol untuk mengeluarkan field dari th object
    # adalah library thymeleaf, artinya object yang berasal dari library-->
<head th:replace="~{layout :: head}"></head>
<body class="main-body">

<th:block th:replace="~{layout :: template('Category Index')}"></th:block>
<main>
    <div class="grid-container category-index">
        <form class="filter" method="get" th:action="@{/category/index}">
           <input type="text" placeholder="Category name ..." name="name" th:value="${name}">
           <button type="submit" class="blue-button">Search</button>
        </form>
        <a href="javascript:;" class="blue-button create-button">Insert New Category</a>
        <table>
            <thead>
            <tr>
                <th>action</th>
                <th>name</th>
                <th>floor</th>
                <th>isle</th>
                <th>bay</th>
                <th>total buku</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="row:${grid}" th:object="${row}">
                <td>
                    <a class="blue-button" th:href="@{/category/books(name=*{name})}">Books</a>
                    <a class="blue-button update-button" href="javascript:;" th:attr="data-name=*{name}">Update</a>
                    <a class="blue-button" th:href="@{/category/delete(name=*{name})}">Delete</a>
                </td>
                <td th:text="*{name}"></td>
                <td th:text="*{floor}"></td>
                <td th:text="*{isle}"></td>
                <td th:text="*{bay}"></td>
                <td th:text="TBC"></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="6">
                    <div class="pagination">
                        <div th:text="|page ${currentPage} of ${totalPages}|"></div>
                        <div th:if="${totalPages !=0}">
                            <a th:each="number : ${#numbers.sequence(1, totalPages)}"
                               th:text="${number}" th:href="@{/category/index(page=${number}, name=${name})}"></a>
                        </div>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</main>

<!--Menu popup dialog untuk contact detail -->
<div class="modal-layer">
    <th:block th:replace="~{category/category-popup-insert-form :: formInsertDialog}"></th:block>
    <th:block th:replace="~{category/category-popup-update-form :: formUpdateDialog}"></th:block>
</div>
<!--JAVASCRIPT BUAT POPUP DIALOG-->
<script th:src="@{/resources/js/category/category-popup.js}"></script>

</body>
</html>