<!DOCTYPE html>
<html lang ="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout :: head}"></head>
<body class="main-body">

<th:block th:replace="~{layout :: template('Fail Delete Author')}"></th:block>
<main>
    <div class="fail-container">
        <p>Ada <span th:text="${dependencies}"></span> buku yang ditemukan dengan category ini.</p>
        <p>Anda tidak bisa menghapus category ini selama data buku tersebut masih ada di database</p>
        <p>silahkan hubungi IT department untuk penjelasan lebih detile</p>
    </div>
    <a class="blue-button" th:href="@{/author}">Back to Category</a>
</main>

</body>
</html>