<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basilisk</title>
    <link rel="icon" type="image/ico" th:href="@{/favicon.ico}">
    <link rel="stylesheet" th:href="@{/resources/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/resources/css/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/resources/css/site.css}">
    <link rel="stylesheet" th:href="@{/resources/css/normalize.css}">
    <script th:src="@{/resources/js/jquery-3.6.0.js}"></script>
</head>
<body>
<div  th:fragment="formInsertDialog" class="popup-dialog form-insert-dialog">
        <a href="javascript:;" class="close-button">
            <i class="fas fa-window-close"></i>
        </a>
</div>
</body>
</html>